
body{
    background-color: #31343a;    

}
.nav{
    border-color: var(--blue);
    border-style: solid;
    border-width: .5em;
    width:200px;
    display: flex;

}
:root {
    --red: #ffa3a3;
    --orange: #fbcea0;
    --green: #b5eeb9;
    --blue: #addfee;
    --purple: #d2afea;
  }
  
.red_font{
    font-size: 18pt;
    color: var(--red);
}
.green_font{
    font-size: 18pt;
    color: var(--green);
}